.profile_form {
        width: 60vw;
        margin: 0 auto;
        .submit_button {
                display: flex;
                margin: 0 auto;
                background-color: grey;
                border-color: grey;
        }
}
