.home_page {
        .input_group {
                width: 60vw !important;
                margin: 0 auto;
        }
        .button_group {
                display: flex;
                justify-content: space-around;
        }
}
